<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-NWBNRSQ6");

  window.dataLayer = window.dataLayer || [];
  const previouslyAccepted = /cookiesAccepted=true/.test(document.cookie);
  const analytics_storage = previouslyAccepted ? "granted" : "denied";

  window.dataLayer.push({
    event: "consent_default",
    analytics_storage: analytics_storage,
  });
</script>
<!-- End Google Tag Manager -->
