/* Layout variables */
$content-width: 988px;

/* Media Queries breakpoints - please notice that we are using "desktop first" attitude. Variables as full query */
$media-mobile: "screen and (max-width : 720px)";
$media-small-mobile: "screen and (max-width : 420px)";
/* Font families */
$font-family-upper: 'Merriweather', serif;
$font-family-upper-sans: 'Merriweather Sans', sans-serif;
$font-family-main: 'Roboto Slab', serif;
$heading-font: $font-family-upper-sans;

/* Color variables */
$imandra-mint: #27d798;
$font-color: #405267;
$link-color: #249ef1;
$link-visited: $link-color;
$link-active: #425469;
$link-hover-color: $imandra-mint;
$light: #e7edf4;
$header: #fafafa;
$heading-font-color: $font-color;

/* Base */
*,
*::before,
*::after {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
}
pre {
  padding: 0 0 0 1.5em;
  margin: 0;
  overflow-x: scroll;
  margin-right: 0.55rem;
}