/* Layout variables */
$content-width: 988px;
$sidebar-left-width: 260px;
$sidebar-right-width: 200px;

/* Media Queries breakpoints - please notice that we are using "desktop first" attitude. Variables as full query */
$media-mobile: "screen and (max-width : 1024px)";
$media-small-mobile: "screen and (max-width : 420px)";
/* Font families */
$font-family-upper: 'Merriweather', serif;
$font-family-upper-sans: 'Merriweather Sans', sans-serif;
$font-family-main: 'Roboto Slab', serif;
$heading-font: $font-family-upper-sans;

/* Color variables */
$imandra-mint: #22e6b0;
$font-color: #576483;
$title-color: #7081AA;
$link-color: #7E95CE;
$link-visited: $link-color;
$link-active: #425469;
$link-hover-color:#3A4152;
$light: #e7edf4;
$header: #fafafa;
$heading-font-color: $font-color;
