/*  By AI Team!
---------------------------------------------------
  Layout
--------------------------------------------------- */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

pre {
    padding: 1.5em;
    margin: 0;
    overflow-x: auto;
    margin-right: 0.55rem;
    border-left: solid #cfe2f3;
}

html {
    font-size: 14px !important;
}

body {
    color: $font-color;
    font-family: $font-family-upper-sans;
    font-size: 1em;
    line-height: 1.6;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
    color: $heading-font-color;
    font-family: $heading-font;
    line-height: 1.1;
    margin-bottom: 0;
}

h1 {
    font-size: 2.52rem;

    a,
    a:visited {
        text-decoration: none;
    }
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

h4 {
    font-size: 1.33rem;
    font-weight: 400;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: $imandra-mint;
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

time {
    color: #898989;
}

/*  ---------------------------------------------------
    Navigation
--------------------------------------------------- */

// Top row with Sidemenu
.top-row-container {
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar-left-width;
    background: rgba(255, 255, 255, 0);
    height: 100%;
    z-index: 3;
    border-bottom: 1px solid lighten($light, 30%);
    box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
    background: aliceblue;
    overflow-y: auto;

    @media #{$max-tablet} {
        position: relative;
        overflow-y: visible;
        width: 100%;
        padding: 0;
        background: white;
    }
}

.top-row {
    max-width: $content-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media #{$max-tablet} {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
}

.side {
    &__logo-container {
        display: flex;
        width: auto;
        padding: 16px 0 0 0;

        @media #{$max-tablet} {
            justify-content: center;
        }

    }

    &__logo {
        width: auto;
        height: 16px;
        margin: 20px 0 0 20px;

        @media (max-width : 420px) {
            display: none
        }

        @media (max-width : 1024px) {
            margin: 0;
        }
    }

    &__logo--min {
        width: auto;
        height: 16px;
        display: none;
        margin: 0;

        @media (max-width : 420px) {
            display: flex
        }

    }

    &__logo-link {
        margin: 0;
        padding: 0;
        height: 30px;

        img {
            vertical-align: middle;
        }
    }

    &__nav-container {
        justify-content: flex-start;
        margin-top: 2em;
        width: 100%;
        font-size: 13px;

        @media #{$max-tablet} {
            position: absolute;
            background: aliceblue;
            width: 100%;
            top: 20px;
            min-height: 100vh;
        }
    }

    &__nav-search {
        display: flex;
        width: 200px;
        align-items: flex-end;
        font-size: 12px;
        margin-bottom: 3px;

        .algolia-autocomplete {
            flex: 1;
            overflow: visible;
        }

        input {
            border-radius: 5px;
            width: 100%;
            padding: 2px 5px;
            border-color: #dedede;
            color: inherit;
            font: inherit;
        }

        @media #{$max-tablet} {
            display: none;
        }

    }

    &__nav-search-icon {
        position: relative;
        right: 25px;
        top: -4px;
    }

    &__nav-container--hidden {
        @media #{$max-tablet} {
            display: none;
        }
    }

    @mixin side__nav-link--arrow {
        content: "";
    }

    @mixin side__nav-link--arrow-down {
        content: "";
        border-bottom: 5px solid navy;
        transform: rotate(180deg);
    }

    @mixin side__nav-link--circle {
        content: "";
        display: block;
        margin-top: 9px;
        height: 6px;
        width: 6px;
        border: none;
        border-radius: 50%;
        background: navy;
    }

    @mixin side__nav-link--hide {
        content: normal;
    }

    &__nav-link,
    &__nav-link--within-page {
        padding-left: 36px;

        &:before {
            display: block;
            content: normal;
            position: absolute;
            width: 0;
            height: 0;
            left: 0;
            margin-top: 10px;
            transition: all 0.4s ease-out;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #9dc3f5;
            transform: rotate(90deg);
            transition: all 0.4s ease-out;
        }

        &:hover {
            &:before {
                border-bottom: 5px solid navy;
            }
        }
    }

    &__nav-link--within-page {
        &--active {
            &:before {
                @include side__nav-link--circle;
            }
        }
    }

    &__nav-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        color: $link-color;

        @media #{$max-tablet} {
            justify-content: flex-end;
        }


        &--sub-level-1 {
            list-style: none;
            padding: 0;

            & .side__nav-link {
                margin-left: 20px;
            }

            & .side__nav-link--within-page {
                margin-left: 40px;
            }

            .side__nav-link {
                &:before {
                    @include side__nav-link--arrow;
                    margin-left: 20px;
                }

                &--active {
                    &:before {
                        @include side__nav-link--arrow-down;
                    }
                }
            }

            &--active {
                .side__nav-list-item--sub-level-1 {
                    display: block;
                }
            }
        }

        &--sub-level-1--empty {
            .side__nav-link {
                &:before {
                    @include side__nav-link--hide;
                    margin-left: 20px;
                }

                &--active {
                    &:before {
                        @include side__nav-link--circle;
                    }
                }
            }
        }

        &--sub-level-2 {
            list-style: none;
            padding: 0;

            .side__within-page-nav--sub-level-2 {
                margin-left: 20px;

                .side__nav-link--within-page {
                    &:before {
                        margin-left: 64px;
                    }
                }
            }

            & .side__nav-link,
            & .side__nav-link--within-page {
                margin-left: 40px;
            }

            & .side__nav-link {
                &:before {
                    @include side__nav-link--arrow;
                    margin-left: 44px;
                }

                &--active {
                    &:before {
                        @include side__nav-link--arrow-down;
                    }
                }
            }

            &--active {
                .side__nav-list-item--sub-level-2 {
                    display: block;
                }
            }
        }

        &--sub-level-2--empty {
            transition: all 0.3s ease-out;

            .side__nav-link {

                &:before {
                    @include side__nav-link--hide;
                }

                &--active {
                    &:before {
                        @include side__nav-link--circle;
                    }
                }
            }
        }


        &--sub-level-3 {
            list-style: none;
            padding: 0;

            .side__within-page-nav--sub-level-3 {
                margin-left: 30px;

                .side__nav-link--within-page {
                    &:before {
                        margin-left: 50px;
                    }
                }
            }

            & .side__nav-link {
                padding-left: 70px;

                &:before {
                    display: none;
                }
            }
        }
    }

    &__nav-list-item {
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);

        &--sub-level-1 a {
            &:hover {}
        }

        &--sub-level-2 {
            display: none;

            @media #{$max-tablet} {
                display: block;
            }

        }
    }

    &__nav-link,
    &__nav-link--within-page {
        display: block;
        text-decoration: none;
        padding-left: 20px;
        line-height: 2;

        &:hover {
            text-decoration: none;
            color: #253c72;
            background: mediumturquoise;
        }

        &--active {
            color: navy;
        }
    }

    &__nav-link--within-page {
        &--h2 {
            margin-left: 10px
        }

        &--h3 {
            margin-left: 20px
        }

        &--h4 {
            margin-left: 30px
        }

        &--h5 {
            margin-left: 40px
        }


        &--active {
            &:before {
                @include side__nav-link--circle;
                margin-left: 44px;
            }
        }
    }



    &__toggle {
        width: 22px;
        height: 22px;
        margin: 10px 10px;
        position: relative;
        cursor: pointer;
        display: inline-block;

        & span {
            background-color: #4f92ff;
            position: absolute;
            border-radius: 0;
            transition: 0.2s cubic-bezier(0.7, 0.6, 0.1, 1.6);
            width: 100%;
            height: 3px;
        }

        & span:nth-child(1) {
            top: 0px;
            left: 0px;
        }

        & span:nth-child(2) {
            top: 9px;
            left: 0px;
        }

        & span:nth-child(3) {
            bottom: 0px;
            left: 0px;
        }

        &:not(.side__toggle--active):hover span:nth-child(1) {
            background-color: $ai-mint;
            transform: scaleX(1);
            top: 1px;
        }

        &:not(.side__toggle--active):hover span:nth-child(2) {
            background-color: $ai-mint;

            transform: scaleX(0.8);
        }

        &:not(.side__toggle--active):hover span:nth-child(3) {
            background-color: $ai-mint;
            transform: scaleX(1);
            bottom: 1px;
        }
    }

    &__toggle--active {

        & span {
            background: $ai-mint;
        }

        & span:nth-child(1) {
            transform: rotate(45deg);
            top: 11px;
        }

        & span:nth-child(2) {
            transform: scale(0);
        }

        & span:nth-child(3) {
            transform: rotate(-45deg);
            top: 11px;
        }
    }

    &__toggle--active--V {

        & span {
            background: $ai-mint;
        }

        & span:nth-child(1) {
            transform: rotate(45deg) scaleX(0.8);
            top: 13PX;
            left: -8px;
        }

        & span:nth-child(2) {
            transform: scale(0);
            transition-duration: 50ms
        }

        & span:nth-child(3) {
            transform: rotate(-45deg) scaleX(0.8);
            top: 13PX;
            left: 7px;
        }
    }


    &__toggle-text {
        font-size: 13px;
        align-self: center;
        margin: 3px 0 0 0;
        text-transform: uppercase;
        color: #898989;
    }

    &__left-menu-toggler {
        display: none;

        @media #{$max-tablet} {
            display: flex;
            margin-left: 5px;
            cursor: pointer;
        }
    }

    &__right-menu-toggler {
        display: none;

        @media #{$max-tablet} {
            display: flex;
            margin-right: 5px;
            cursor: pointer;
        }
    }
}




// Top Navigation with links to pages

.top-bar {
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    font-size: 16px;

    &__nav-container {
        display: flex;
        justify-content: flex-end;

        @media #{$max-tablet} {
            justify-content: flex-start;
            width: 100%;
        }
    }

    &__nav-list {
        list-style: none;
        display: flex;
        margin: 33px 32px 0 0;

        @media #{$max-tablet} {
            position: absolute;
            background: #ffffff;
            width: 100%;
            height: 100vh;
            margin: 0;
            padding: 0;
            flex-direction: column;
            z-index: 1;
        }
    }

    &__nav-list--hidden {
        @media #{$max-tablet} {
            display: none;
        }
    }

    &__nav-list-item {
        @media #{$max-tablet} {
            padding: 0;
        }
    }

    &__nav-link {
        padding: 0.5em 0.95em;
        color: #576483;
        display: block;
        font-weight: 400;
        font-size: 0.76em;
        text-decoration: none;
        text-transform: uppercase;
        text-align: right;
        white-space: nowrap;

        @media #{$max-tablet} {
            text-transform: uppercase;
            font-size: 1.2rem;
            text-decoration: none;
            display: block;
            padding: 0.5em 1em;
            font-weight: 300;
            border-bottom: solid 1px $header;

            &:hover {
                background: $header;
                text-decoration: none;
                color: $link-color;
            }
        }

    }

    &__toggle {
        display: none;
    }

}






/*  ---------------------------------------------------
  Main Content
--------------------------------------------------- */

.main-content-column {
    padding: 0;
}

.main-content {
    width: 80%;
    max-width: 1024px;
    padding: 0 2em;
    margin-left: 106px;
    margin-right: 106px;
    line-height: 1.8;
    font-size: 13px;

    @media #{$max-wide} {
        margin-left: 0;
        margin-right: 0;
    }

    @media #{$max-desktop} {
        width: 100%;
        padding: 0 2em;
    }

    &--jupyter {
        width: 100%;
        max-width: 1024px;
        margin-left: unset;
        margin-right: 106px;

        @media #{$max-wide} {
            margin-right: 0;
        }

        @media #{$max-desktop} {
            width: 100%;
            padding: 0 2em 0 5em;
        }

        @media #{$max-tablet} {
            padding: 0;
        }
    }

    h1,
    h2,
    h3,
    h4 {
        font-weight: 300;
    }
}

.article__container {
    position: relative;
    max-width: $content-width + $sidebar-right-width;
    display: flex;
    margin-left: $sidebar-left-width;

    @media #{$max-desktop} {
        max-width: 980px;
    }

    @media #{$max-tablet} {
        margin-top: 0;
        margin-left: 0;
        padding: 0 1em;
    }

    &--notebooks {
        max-width: $content-width + $sidebar-right-width + 120px;

        @media #{$max-desktop} {
            max-width: 980px;
            margin-left: 210px;
        }

        @media #{$max-tablet} {
            margin-top: 0;
            margin-left: 0;
            padding: 0 2em 0 0;
        }

        @media #{$max-jupyter-mobile} {
            padding: 0 2em;
        }
    }
}

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.welcome-header {
    display: flex;
    min-height: 400px;
    padding-top: 10px;
    margin: 0;
    justify-content: center;
    align-items: flex-start;
}

.template-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin: 0;

    &__image-container {
        margin-left: $sidebar-left-width;
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
        padding-left: 130px;

        @media #{$max-wide} {
            padding-left: 30px;
        }

        @media #{$max-tablet} {
            padding-left: 36px;
            margin-left: 0;
        }

        &--jupyter {
            padding-left: 9em;

            @media #{$max-desktop} {
                padding-left: 5em;
            }

            @media #{$max-tablet} {
                padding-left: 7em;
            }

            @media #{$max-jupyter-mobile} {
                padding-left: 2em;
            }
        }
    }
}



/* Welcompage Template Classes */

.WelcomeImage {
    max-width: 700px;
    min-width: 200px;

    @media #{$max-small-mobile} {
        width: 80%;
    }

}

.WelcomeText,
.WelcomeExcerpt {
    text-align: center;
    display: flex;
    justify-content: center;

    @media #{$max-tablet} {
        flex-direction: column;
    }

}

/* Page Template Classes */

.site-specific-image {
    min-width: 180px;
    margin-top: 2em;
    height: 66px;

    &--docs {
        max-width: 300px;
    }

    @media #{$max-tablet} {
        width: 90%;
    }
}




/*  ---------------------------------------------------
  Top menu
--------------------------------------------------- */

.top-nav-bar {
    &__group {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
    }

    &__nav {
        &--hidden {
            @media #{$max-tablet} {
                display: none;
            }
        }
    }

    &__links {
        display: flex;
        position: static;
        width: unset;
        height: auto;
        margin: 0;
        padding: 32px 32px 0;
        background-color: rgba(0, 0, 0, 0);
        flex-flow: row wrap;
        justify-content: flex-end;
        list-style: none;
        opacity: 1;

        @media #{$max-tablet} {
            position: absolute;
            width: 100%;
            height: 100vh;
            justify-content: flex-start;
            padding: 0;
            list-style-type: none;
            z-index: 100;
            display: flex;
            flex-direction: column;
            right: 0;
            top: 0;
            background: white;
        }

    }

    &__item {
        font-size: 1rem;
        border: 0;
        padding: 0;
        background-color: transparent;
        text-align: center;

        @media #{$max-tablet} {
            margin: 0;
            padding: 0;
            text-align: center;
            background-color: whitesmoke;
        }

        &:last-of-type {
            border: 0;
        }

        &--last {
            margin-left: 6em;
        }
    }

    &__link {
        display: block;
        padding: 0.5em;
        font-weight: 400;
        font-size: 0.9em;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
        padding: 0.5em 0.95em;
        color: DODGERBLUE;

        @media #{$max-tablet} {
            border-bottom: 1px solid rgba(206, 206, 206, 0.3);
        }

        &:hover {
            color: #22e0b6;

            @media #{$max-tablet} {
                background: dodgerblue;
            }
        }

        &--selected {
            color: #27D798;
        }

        &--group {
            display: block;
            padding: 0;
            padding: 0.5em 0.95em;
            color: DODGERBLUE;

            &:hover {
                color: #22e0b6;
            }

            @media #{$max-tablet} {
                padding: 0;
                display: block;
                background-color: #27D798;
            }
        }

    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: aliceblue;

    @media #{$max-tablet} {
        display: contents;
        width: 100%;
        margin: 0em 1em;
    }

    &--explore {
        @media #{$max-tablet} {
            width: 100%;
            margin: 0;
        }

        margin: 0 0 0 -90px;
        padding: 1.6em 0;
        width: 180px;
    }

    &--media {
        @media #{$max-tablet} {
            width: 100%;
            margin: 0;
        }

        margin: 0 0 0 -70px;
        padding: 1.6em 0;
        width: 140px;
    }

    &--docs {
        @media #{$max-tablet} {
            width: 100%;
            margin: 0;
        }

        margin: 0 0 0 -90px;
        padding: 1.6em 0;
        width: 180px;
    }

    &--products {
        @media #{$max-tablet} {
            width: 100%;
            margin: 0;
        }

        margin: 0 0 0 -130px;
        padding: 1.6em 0;
        width: 320px;
    }

    &--industries {
        @media #{$max-tablet} {
            width: 100%;
            margin: 0;
        }

        margin: 0 0 0 -130px;
        padding: 1.6em 0;
        width: 260px;
    }

    &--company {
        @media #{$max-tablet} {
            width: 100%;
            margin: 0;
        }

        margin: 0 0 0 -90px;
        padding: 1.6em 0;
        width: 150px;
    }

    border-radius: 10px;
}

.dropdown {
    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;

        &--with-icon {
            text-align: left;
        }
    }

    &__icon {
        display: inline-block;
        width: 20px;
        margin: 0 1em 0 1.5em;

        @media #{$max-tablet} {
            display: none;
        }
    }

    &__link {
        display: inline-block;
        line-height: 3;
        list-style: none;
        text-transform: uppercase;
        flex-grow: 1;
        font-size: 1em;
        text-decoration: none;
        line-height: 2.6;
        border-bottom: 1px solid rgba(206, 206, 206, 0.3);
        color: dodgerblue;
        text-align: left;

        &--last {
            border-bottom: none;
        }

        @media #{$max-tablet} {
            border-bottom: 1px solid rgba(206, 206, 206, 0.3);
            font-size: 0.9em;
            font-weight: 400;
            text-align: center;

            &:hover {
                background: dodgerblue;
            }
        }

        &:hover {
            color: #22e0b6;
        }
    }

    &--bottom {
        margin-bottom: 0;

        @media #{$max-tablet} {
            margin-bottom: 40vh;
        }

    }

    &__coming-soon:after {
        content: "(Coming Soon)";
        position: absolute;
        display: block;
        font-size: 12px;
        color: #6ca0bb;
        width: 100%;
        text-align: center;
        bottom: 6px;
        left: 11px;

        @media #{$max-tablet} {
            line-height: 1;
            position: relative;
            font-size: 8px;
            left: 0;
        }
    }
}


.dropdown--explore:hover,
.dropdown--docs:hover,
.dropdown--products:hover,
.dropdown--industries:hover,
.dropdown--media:hover,
.dropdown--company:hover {
    & .dropdown-content {
        display: inline-block;
    }
}

@media #{$max-tablet} {

    .dropdown--explore:hover,
    .dropdown--docs:hover,
    .dropdown--products:hover,
    .dropdown--industries:hover,
    .dropdown--media:hover,
    .dropdown--company:hover {
        & .dropdown-content {
            display: contents;
        }
    }
}







/*  ---------------------------------------------------
  Footer
--------------------------------------------------- */

.footer {
    bottom: 0;
    width: 100%;
    left: 0;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    font-size: 11px;
    padding-bottom: 1em;
    z-index: 0;
}

.copyrights {
    text-decoration: none;
    font-size: 1.1em;
    color: $link-color;

    &:hover {
        text-decoration: none !important;
        color: darken($link-color, 30%);
    }
}




/*  ---------------------------------------------------
  Main Doc Welcome Page
--------------------------------------------------- */
.intro {
    &__title {
        color: darkslateblue;
        margin-bottom: 0.4em;
        margin-top: 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        color: #576483;
    }

    &__excerpt-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // margin-bottom: 3em;
    }

    &__excerpt {
        display: flex;
        margin-bottom: 1em;
    }

    &__repositories {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1em;
    }

    &__repository {
        display: block;
        cursor: pointer;
        width: 50%;
        padding-right: 4em;
        margin-bottom: 1em;

        &:hover {
            .intro__repository-title {
                color: #22e0b6;
            }

            .intro__repository-excerpt {
                color: #576483;
            }

            .intro__repository-link {
                color: #22e0b6;
                font-weight: 700;
                transform: translate(52px);
                transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }

        @media #{$max-tablet} {
            width: 100%;
            padding: 0;
        }
    }

    &__repository-brand-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__repository-info-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__repository-title {
        color: dodgerblue;
        width: 50%;
        font-weight: 300;
        margin: 0;
    }

    &__repository-excerpt {
        color: #576483;
        line-height: 1.4;
        margin: 1em 0 0 0;
    }

    &__repository-icon {
        width: 3em;
        margin: 0 1em 0 0;
    }

    &__repository-link {
        color: #00A7FF;
        margin-top: 1em;
    }

}

.repositories {}

.VerticalsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-grow: 1;

    @media #{$max-tablet} {
        flex-direction: column;
        align-items: center;
        border: none;
    }

}

.Vertical {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    padding: 0 0.2em;

    &:first-child {
        border-right: solid 1px #f0f0f0;
    }

    &:last-child {
        border-left: solid 1px #f0f0f0;
    }

    @media #{$max-tablet} {
        width: 100%;
        flex-direction: column;
        align-items: center;
        border: none;
    }
}

.VerticalTitle {
    display: none;

    color: $title-color;
    height: 1.2em;
    margin-bottom: 1em;
    font-weight: 100;
    align-self: center;
}

.Repositories {
    margin: 0 10px;
    padding: 0;

    @media #{$max-tablet} {
        margin: 0 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.RepositoryItem {
    list-style: none;
}

.RepositoryLink {
    display: flex;
    max-width: 960px;
    min-height: 111px;
    border-radius: 6px;
    padding: 1em 0;
    margin-bottom: 1em;
    background-color: #fcfcfc;
    text-decoration: none;
    transition: all 0.1s ease-out;

    &:hover {
        text-decoration: none;
        background-color: #f0f0f0;
    }

    @media #{$max-tablet} {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1em;
    }
}

.RepositoryIcon {
    width: 44px;
    align-self: flex-start;
    margin: 10px;

    @media #{$max-tablet} {
        align-self: center;
    }

}

.RepositoryDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.RepositoryDescription_Title {
    color: $font-color;
    margin: 0;
    font-weight: 100;
}

.RepositoryDescription_Excerpt {
    color: $font-color;
    margin: 0;
}

.RepositoryDescription_Excerpt:hover,
.RepositoryDescription_Title:hover {
    text-decoration: none;
}




/*  ---------------------------------------------------
	Code Examples
--------------------------------------------------- */

// inline code variations
.highlight .k {
    color: $code;
}

.rendered_html li code,
.rendered_html p code,
.highlighter-rouge {
    font-family: monospace;
    background: #f5f5f5;
    padding: 1px 3px;
    font-size: 1.1em;
    color: $code;
    border-radius: 4px;
    margin-right: 3px;
}

.terminal {
    display: flex;
    position: relative;
    border-radius: 4px;


    &--hide {
        & code {
            opacity: 0;
        }

        & .terminal__copy-cover {
            display: none;
        }

        & .terminal__copy-ready {
            opacity: 1;
        }

        & .terminal__copy-ready--top {
            transform: translateY(0);
        }

        & .terminal__copy-ready--bottom {
            transform: translateY(0);
        }
    }

    code {
        width: 100%;
        position: relative;
        background: #e2f9f4;
        transition: opacity 0.2s ease-in;
        white-space: normal;
    }

    pre {
        padding: 1.5em;
        margin: 0;
        overflow-x: auto;
        margin-right: 0.55rem;
        border: none;
        color: #0064b9;
    }

    .highlight {
        background: none;
        margin: 0;
    }

    &__copy-cover {
        width: 32px;
        height: 100%;
        display: flex;
        right: 0;
        position: absolute;
        justify-content: center;
        align-items: center;
        color: white;
        background: $imandra-mint;
        font-size: 1.6em;
        opacity: 0.33;
        transition: opacity 0.2s ease-out;
        font-family: monospace;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    &__copy-ready {
        position: absolute;
        left: calc(50% - 100px);
        width: 200px;
        height: 90px;
        opacity: 0.01;
        top: 25%;

        &--top {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 1.6em;
            background: $imandra-mint;
            font-family: monospace;
            transform: translateY(-11px);
            transition: transform 0.3s ease-out;
        }

        &--bottom {
            width: 100%;
            height: 8px;
            transform: translateY(10px);
            transition: transform 0.3s ease-out;
            background: linear-gradient(to bottom, #4FE6C5, #4FE6C5 25%, #F3E098 25%, #F3E098 50%, #EF9E5F 50%, #EF9E5F 75%, #E9774F 75%);
        }
    }

    &__copy-msg {}

}

figure {
    margin: 0;
    padding: 0;
}

h2.internalLink-padding:before {
    display: block;
    content: " ";
    margin-top: -60px;
    height: 60px;
    visibility: hidden;
    pointer-events: none;
}

h2.internalLink-padding {
    padding-top: 1.6rem;
}

.box {
    display: none;
    width: 100%;
}

a:hover+.box,
.box:hover {
    display: block;
    position: relative;
    z-index: 100;
}

//copy-text button
.copy-code {
    display: block;
    position: absolute;
    height: 24px;
    left: 32px;
    top: 12px;
    width: 24px;
    cursor: pointer;

    z-index: 1;

    &:hover {
        background: rgba(255, 255, 255, 0.5);

        & path {
            fill: #00A7FF;
        }
    }

    &__icon {
        pointer-events: none;

    }

    &__msg {
        display: flex;
        position: absolute;
        text-align: right;
        left: -55px;
        top: 0;
    }
}


/*  ---------------------------------------------------
	Inline Images styling
--------------------------------------------------- */

.template-image {
    width: 100%;
    display: block;
    border-radius: 4px;
    border-top: solid 10px #f2f2f2;
    border-left: solid 1px #f2f2f2;
    border-right: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}

.template-image:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blogpost-image {
    width: 50%;
    display: block;
    border-radius: 4px;
    border-top: solid 10px #f2f2f2;
    border-left: solid 1px #f2f2f2;
    border-right: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}

.blogpost-image:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}