---
layout: default
---
{% assign pname = page.collection %}
{% assign col = site[pname] | sort: 'sequence' | shift %}
<!--MainContent-->
<div class="MainContent">
    {% if col.size == 0 %}
    {{content}}
    {% else %}
    {% for colPage in col %}
    {% if forloop.index == 1 %}
    <h2 id={{colPage.tag}}>{{colPage.title}}</h2>
    {% else %}
    <h2 class="internalLink-padding" id={{colPage.tag}}>{{colPage.title}}</h2>
    {% endif %}
    {{ colPage.content | markdownify }}
    {% endfor %}
    {% endif %}
</div>

<!-- Sidebar - pageSbar.html -->
<div class="sidebar-right">
    <div class="sidebar-right__menu">
        {% for lin in col %}
        {% if forloop.index == 1 %}
        <a class="sidebar-right__menu-item" href="#">{{lin.title}}</a>
        {% else %}
        <a class="sidebar-right__menu-item" href="#{{lin.tag}}">{{lin.title}}</a>
        {% endif %}
        {% endfor %}
        {% if page.title == "Documentation" and site.baseurl == "/fix-engine" %}
        <a class="sidebar-right__menu-item" href="{{ site.baseurl }}{% link _pages/doc/index.html %}">Technical Documentation</a>
        {% endif %}
    </div>
</div>
