---
layout: default
---
<!-- Sidebar -->
<div class="SideMenu animateme"
      data-when="span"
      data-from="0"
      data-to="1"
      data-easing="easeinout"
      data-rotatey="360">
    {% assign pname = page.collection %}
    {% assign col = site[pname] | sort: 'sequence' | shift %}
    {% for lin in col %}
    <a href="{{ lin.url | prepend: site.baseurl }}">{{lin.title}}</a>
    {% endfor %}
    {% if page.colName == "Documentation" and site.baseurl == "/fix-engine" %}
    <a href = "{{ site.baseurl }}{% link _pages/doc/index.html %}">Technical Documentation</a>
    {% endif %}
</div>
<!--MainContent-->
<div class="MainContent">
    <h2>{{ page.title }}</h2>

    {{ content }}
</div>