---
layout: default
---
<!-- Sidebar -->
<div class="SideMenuContainer">
    <div id="StickMenu" class="SideMenu">
        {% assign pname = page.collection %}
        {% assign col = site[pname] | sort: 'sequence' | shift %}
        {% for lin in col %}
        <A href=#{{lin.tag}}>{{lin.title}}</A>
        {% endfor %}
        {% if page.title == "Documentation" and site.baseurl == "/fix-engine" %}
        <a href = "{{ site.baseurl }}{% link _pages/doc/index.html %}">Technical Documentation</a>
        {% endif %}
    </div>
</div>
<!--MainContent-->
<div class="MainContent">
    {% if col.size == 0 %}
    {{content}}
    {% else %}
    {% for colPage in col %}
    {% if forloop.index == 1 %}
    <h2 id={{colPage.tag}}>{{colPage.title}}</h2>
    {% else %}
    <h2 class="internalLink-padding" id={{colPage.tag}}>{{colPage.title}}</h2>
    {% endif %}
    {{ colPage.content | markdownify }}
    {% endfor %}
    {% endif %}
</div>