---
layout: default
---
{% assign pname = page.collection %}
{% assign col = site[pname] | sort: 'sequence' | shift %}
<!--main-content-->
<div class="main-content">
    {% if col.size == 0 %}
    {{content}}
    {% else %}
    {% for colPage in col %}
    {% if forloop.index == 1 %}
    <h2 id={{colPage.tag}}>{{colPage.title}}</h2>
    {% else %}
    <h2 class="internalLink-padding" id={{colPage.tag}}>{{colPage.title}}</h2>
    {% endif %}
    {{ colPage.content | markdownify }}
    {% endfor %}
    {% endif %}
</div>

</div>
